<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="^" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatformHandler processPath="D:\home\site\wwwroot\node\node.exe" arguments="./server.js" stdoutLogEnabled="true" stdoutLogFile="D:\home\site\wwwroot\logs\log.log">
    </httpPlatformHandler>
  </system.webServer>
</configuration>